.park_main {
  padding: 1.25rem 2.5rem 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // 安防检测
  .m_l_2,
  .m_r_2 {
    margin-top: 3.125rem;
    .card {
      margin-top: 1.25rem;
      width: 21.375rem;
      border-radius: 0.5rem;
      background-color: rgba(0, 168, 255, 20%);
      // background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(0.625rem);
      box-shadow: 0 0 1.875rem 0.625rem rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      padding: 0 0.625rem 0;

      .c_t_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0.3125rem;
        line-height: 2.5rem;
        border-bottom: 0.0625rem solid #fff;
        .show {
          font-size: 0.75rem;
        }
      }

      // 总体事件
      .list {
        list-style: none;
        font-size: 0.625rem;
        color: #868fa8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1.25rem;

        li {
          display: flex;
          flex-direction: column;

          .tit {
            color: #30fdf0;
            font-size: 1rem;
            i {
              font-style: normal;
              font-size: 1.5rem;
            }
          }
          div {
            margin-top: 0.625rem;

            span {
              &:nth-child(2) {
                margin-left: 0.25rem;
                color: #fff;
              }
            }
          }
        }
      }

      // 月台数据
      .moonData {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        font-size: 0.625rem;
        color: #868fa8;

        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          .moonData_tit {
            margin-bottom: 0.625rem;
          }
          .nums {
            font-size: 1.5rem;
            color: #fff;
          }
        }
      }

      // // 车辆信息
      .diverPie {
        height: 100%;
      }

      // 违规上报列表
      .table_box {
        margin: 1.25rem 0;
        max-height: 15.5rem;
        overflow: auto;

        .t_table {
          color: #fff;
          width: 100%;
          margin: 0 auto;
          border-spacing: 0;
          box-sizing: border-box;
          font-size: 0.75rem;
          table-layout: fixed;

          tr {
            margin: 0;
            padding: 0;
            line-height: 1.875rem;
          }

          thead {
            position: sticky;
            top: 0;
            text-align: left;
            tr {
              // background: #053a98;
              background: #394e73;
            }
          }

          td {
            font-size: 0.75rem;
          }
        }
      }
    }
    .countdown {
      width: 100%;
      text-align: right;
      color: #fff;
      font-size: 1.5rem;
      i {
        font-style: normal;
        font-size: 2.375rem;
        color: #30fdf0;
      }
    }
  }

  // 中间
  .m_l_m {
    color: #fff;
    overflow: hidden;
    width: 100%;
  }
}
