.container {
  width: 100%;
  min-height: 100vh;
  background: url('../../../public/img/bg.png') no-repeat #061537;
  background-size: cover;
  overflow: hidden;
  position: relative;
  min-width: 1386px;
}

.top_tit {
  padding: 20px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .year_chose {
    background-color: transparent;
    color: #72e3ff;
    border: #00c0ef 2px solid;
    width: 200px;
    text-indent: 0.6em;
    border-radius: 5px;
  }

  .content_r_time {
    text-align: right;
    color: #fff;
    font-size: 15px;
  }
}
