.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(40, 30, 47) url('../../../public/img/bg.png') 0 0 / 100% 100%
    no-repeat;
  overflow: hidden;
  position: relative;
  min-width: 1200px;
}

.header {
  background: url('../../../public/img/header.png') 0 0 / 100% 100% no-repeat;
  padding: 0 40px 0;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  .title {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 28px;
    font-weight: 400;
    line-height: 64px;
  }

  .h_c {
    background-color: transparent;
    color: #72e3ff;
    border: #00c0ef 2px solid;
    width: 200px;
    text-indent: 0.6em;
    border-radius: 5px;
  }

  .h_t {
    text-align: right;
    color: #fff;
    font-size: 15px;
  }
}
