.historyMonitorContainer {
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
  background: rgb(40, 30, 47) url('../../../public/img/bg.png') 0 0 / 100% 100%
    no-repeat;
  // background: rgb(40, 30, 47)
  //   url(http://k21vin.gitee.io/front-end-data-visualization/assets/bg01.13dfb262.jpg)
  //   0 0 / 100% 100% no-repeat;
  overflow: hidden;
  position: relative;

  color: #fff;

  padding: 3%;
}

.historyMonitorWarp {
  width: 100%;
  height: 690px;
  display: flex;
  justify-content: space-between;

  .h_left,
  .h_right {
    flex: 1;
    width: 15%;
  }

  .h_left {
    padding: 1%;

    .search_inp {
      margin: 20px 0;
    }

    .h_sider {
      :where(.css-dev-only-do-not-override-1xg9z9n).ant-menu-light,
      :where(.css-dev-only-do-not-override-1xg9z9n).ant-menu-light > .ant-menu {
        background-color: aqua;
      }
    }
  }

  .h_middle {
    flex: 3;
    margin: 0 5px;

    .h_warpper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .h_f {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .h_flex {
      flex: 2;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .h_flex_item {
        margin: 4px;
        .h_device_item {
          width: 267px;
          overflow: hidden;
          height: 190px;
          box-shadow: 0 0 0.5vh #11111122;

          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
          }

          .info {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #11111122;
            text-align: center;
            cursor: pointer;
            color: #fff;

            &:hover {
              background: #00fac144;
            }

            .icon {
              margin-top: 30%;
              font-size: 3rem;
            }
          }
        }
      }
    }

    .h_footer_handle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .h_handle_box,
      .h_handle_play {
        display: flex;
        align-items: center;

        div {
          width: 50px;
          height: 50px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          text-align: center;
          line-height: 50px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
